<%- include('partials/header'); -%>

<h1>HOME</h1>
<p><%=homeStartingContent%></p>

<% posts.forEach((post)=>{ %>
<div class="post" >
  <h1 style="display: block;"><%=post.title%></h1>
  <div style="display: flex; align-items: baseline; font-size: 15px;">

      <p ><%=post.content.substring(0,100)%> ...</p>
      <a href="/posts/<%=post.title%>">Read More</a>
</div>
    
</div>
<% }) %> <%- include('partials/footer'); -%>
